body{
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    background: white; 
    width: 100px;
    height: 100px;
    /*transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 2s;*/
    /*transition: background 1.5s ,width 1s ease-in 0.5s,height 1s ease-in 0.5s;*/
    transition: all 1s;
}
.box:hover{
    background-color: yellow;
    width: 300px;
    height: 300px;
}