@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
*{
    font-family: 'Qwitcher Grypen', cursive;
}
body{
    background: url(https://cdn.pixabay.com/photo/2022/08/09/16/19/sea-7375377_960_720.jpg) no-repeat center/cover;
    color: white;
    overflow: hidden;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
header>h1{
    font-size: 5rem;
    margin: 1rem;
}
header::before{
    content: '';
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
