body{
    background-color: #333;
}
/*.box{
    background-color: white;
    width: 100px;
    height: 100px;
    animation-name:animation1 ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;

}
@keyframes animation1{
    from{
        width: 100px;
    }
    to{
        width: 400px;
    }
}*/
.box{
    background-color: white;
    width: 100px;
    height: 100px;
    position: relative;
    /*animation-name:animate2 ;
    animation-iteration-count: infinite;
    animation-duration: 5s;*/
    animation: animate2 5s infinite;
}
@keyframes animate2{
    0%{
        top: 0;
        left: 0;
        background-color: red;
    }
    25%{
        top:0;
        left: 300px;
        background-color: orangered;
    }
    50%{
        top: 300px;
        left: 300px;
        background-color: orange;
    }
    75%{
        top: 300px;
        left: 0;
        background-color: yellow;
    }
    100%{
        top: 0;
        left: 0;
        background-color: red;
    }
}